layout {
    tab name="nvim relayer" focus=true {
        pane split_direction="horizontal" {
            pane edit="Cargo.toml" size="80%"
            pane
        }
    }
    tab name="infra" {
        pane split_direction="horizontal" {
            pane command="ampd -c amp-config.toml" size="70%"
            pane command="tofnd-auto" focus=true
        }
    }
    tab name="relayer" {
        pane command="cargo run"
    }
}
