theme "everforest-dark"

show_startup_tips false
pane_frames false
keybinds {
    normal clear-defaults=true {
        bind "Ctrl k" { SwitchToMode "Tmux"; }
        unbind "Ctrl b"
    }
    tmux clear-defaults=true {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl k" { Write 2; SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "n" { SwitchToMode "Resize"; }
        bind "h" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "b" { NewTab; SwitchToMode "Normal"; }
        bind "u" { NewPane "Up"; SwitchToMode "Normal"; }
        bind "n" { NewPane "Left"; SwitchToMode "Normal"; }
        bind "e" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "i" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; } 
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }

        bind "1" { GoToTab 1; SwitchToMode "Normal" }
        bind "2" { GoToTab 2; SwitchToMode "Normal" }
        bind "3" { GoToTab 3; SwitchToMode "Normal" }
        bind "4" { GoToTab 4; SwitchToMode "Normal" }
        bind "5" { GoToTab 5; SwitchToMode "Normal" }
        bind "6" { GoToTab 6; SwitchToMode "Normal" }
        bind "7" { GoToTab 7; SwitchToMode "Normal" }
        bind "8" { GoToTab 8; SwitchToMode "Normal" }
        bind "9" { GoToTab 9; SwitchToMode "Normal" }
        bind "F" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "Space" { NextSwapLayout; }
        bind "," { SwitchToMode "RenameTab"; }
    }
}
